{% extends "base.html" %}
{% block content %}
<div class="panel">
    <span class="error">{{ REDIRECT_ERROR }}</span>
    {% if !isSettingsTableCreated %}
        <div class="note">To work with settings, you must first create a table.</div>
    {% endif %}
    <div class="action-info-list">
        <form action="/admin/create-settings-table" method="post" class="action-info" enctype="application/x-www-form-urlencoded">
            {{ CSRF_TOKEN|safe }}
            <div class="action-info-item">Admin settings table</div>
            {% if isSettingsTableCreated %}
                <div class="action-info-value">created</div>
                <button disabled type="submit" class="action-info-button">Create</button>
            {% else %}
                <div class="action-info-value">not created</div>
                <button type="submit" class="action-info-button">Create</button>
            {% endif %}
        </form>
        {% if isSettingsTableCreated %}
            <form action="/admin/admin-access" method="post" class="action-info" enctype="application/x-www-form-urlencoded">
                {{ CSRF_TOKEN|safe }}
                <div class="action-info-item">Administrator access only</div>
                {% if adminSettingsDB.AdminAccess == "1" %}
                    <div class="action-info-value">enabled</div>
                    <button type="submit" class="action-info-button">Disable</button>
                {% else %}
                    <div class="action-info-value">disabled</div>
                    <button type="submit" class="action-info-button">Enable</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>
<div class="admin-menu panel">
    <a href="/admin/users" class="admin-menu-item">
        Users
    </a>
</div>
{% endblock content %}