<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/adminS/css/admin.css">
    <title>Admin</title>
</head>
<body>
    <header><a href="/admin">Admin</a></header>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    <script type="module" src="/adminS/js/main.js"></script>
</body>
</html>